* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0 0;
    font-family: "Inter", sans-serif;
}
header {
position: sticky;
width: 100%;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #98a6bb;
box-shadow: 0 0 10px 2px #aaa;
padding: 20px 120px;
z-index: 100;
}
header div h2{
margin: 0;
padding: 0;
color: #4c82ac;
}

head nav {
    display: block;
}

header nav ul {
list-style: none;
display: flex;
align-items: center;
justify-content: right;
gap: 20px;
}

header nav ul li a {
color: #000;
text-decoration: none;
font-weight: 400;
}